#Label-cadastrar,
#Label-Excluir,
#Label-atualizar {
    color: black;
    text-align: center;
    justify-content: space-between;
    padding-left: 12rem;
    font-size: x-large;
}

/* .btn-cadastrar,
.btn-excluir,
.btn-atualizar,
.btn-pesquisar {
    display:inline;
    height: 5rem;
    width: 10rem;
    background-color: #007BFF;
   
    justify-items: space-between;
    margin-left: 6rem;
    border-radius: 10px 10px 10px 10px;
} */

/* .btn-cadastrar,
.btn-excluir,
.btn-atualizar,
.btn-pesquisar,
p {
    font-size: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
} */

.btn-cadastrar,
.btn-excluir,
.btn-atualizar,
.btn-pesquisar {
    display: inline;
    height: 5rem;
    width: 10rem;
    background-color: #007BFF;
    justify-items: space-between;
    margin-left: 6rem;
    border-radius: 10px 10px 10px 10px;
    border: none;
}

.btn-cadastrar,
.btn-excluir,
.btn-atualizar,
.btn-pesquisar,
p {
    font-size: 20px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.btns-modais :hover{
    background-color: #004fa3;
}



#tabela-aluno {
    border-radius: 10px 10px 10px 10px;
    border: 3px solid black;
}

#tabela-aluno:hover {
    display: none;
}

#div-aluno {
    padding: 5rem;
}

#Labels :hover {
    color: #000;
}
