#Label-cadastrar,
#Label-Excluir,
#Label-atualizar {
    color: black;
    text-align: center;
    justify-content: space-between;
    padding-left: 12rem;
    font-size: x-large;
}

.btn-cadastrar,
.btn-excluir,
.btn-atualizar,
.btn-pesquisar {
    display:inline;
    height: 4rem;
    width: 18rem;
    background-color: #007BFF;
    flex-direction: row;
    text-align: center;
    justify-items: space-between;
    margin-left: 18rem;
    border-radius: 10px 10px 10px 10px;
    border: none;
}

.btn-cadastrar,
.btn-excluir,
.btn-atualizar,
.btn-pesquisar,
p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#tabela-aluno{
    border-radius: 10px 10px 10px 10px;
    border: 3px solid black;
}

#tabela-aluno:hover{
    display: none;
}

/* #div-aluno{
    padding: 5rem;
} */

.btn-modais :hover{
    background-color: #004fa3;
}